# Ignore history files
.Rhistory

# Ignore session data files
.RData

# Ignore Word files
*.docx

# Ignore Rmd default cache directory
/cache/

# Ignore any temp files that are created by Rmd
*.utf9.md
*.knit.md

# Ignore NEON files folder containing giant .csv files
/NEONfiles/

# Ignore metabolism model output .RData files, which are huge 
/StreamMetabolismModels/*.RData

# Ignore streamPULSE formatted sensor data files, which are already uploaded to streamPULSE server
/SensorData_StreamPULSEformatting