# Ignore history files
.Rhistory

# Ignore session data files
.RData

# Ignore Word files
*.docx

# Ignore Rmd default cache directory
/cache/

# Ignore any temp files that are created by Rmd
*.utf9.md
*.knit.md
*.tmp

# Ignore script output files (script is still reproducable without this folder)
/Outputs/

# Ignore NEON files folder containing giant .csv files (script is still reproducable without this folder, run DataCleanup to generate)
/Data/NEONfiles/

# Ignore folder of sensor data files that are uploaded to the streamPULSE server (script is still reproducable without this folder)
/Data/SensorData_StreamPULSE_Uploaded/

